<main class="yield-container">

    <div class = "plants-container">
        <div class = "my-plants-header">
            <h1>MY PLANTS</h1>
            <p> We may have more plants for you to add to your garden. Hit 'add plants' to see our full library of plants</p>
        </div>

        <div class = "plants-body">
            <% @plants.each do |plant| %>
            <article class = "my-plant-ui-card-container">
                    <img class="plant_image" src="<%= plant.image_url%>" alt="">
                        <%# <img src="/icon_assets/24px.svg" alt=""> %>
                    <div class = "plant_info">
                        <div class = "plant_details">
                            <div><%= plant.common_name.upcase %></div>
                            <div><%= plant.scientific_name %> </div>
                        </div>
                        <form action="/my_plants/<%= plant.id%>" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <div>
                                <button class="btn-no-btn"> <img class = "delete-image" src="/icon_assets/24px.svg" alt=""></button>
                            </div>
                        </form>
                    </div>
            </article> 
            <% end %>
            <a href="#openModal"> 
                <article class = "my-plant-ui-card-container">
                <img class = "plant_image" src="/icon_assets/Cherry_add_plant_image.png" alt="">
                <div class = "plant_info">
                    <div>CLICK TO ADD PLANTS</div>
                
                </div>
                </article>
            </a>
        </div>

        <a href="#openModal"> <img class = "add-plant-image" src="/icon_assets/addplant2.png" alt="" srcset=""></a>

        <div id="openModal" class="modalDialog">
            <div>
                <div class = "add-plant-header">
                    <a href="#close" title="Close" class="close">X</a>
                    <form action="/my_plants" method="post">
                        <h1>Select Plants from Our Library</h1>
                </div>
                    <% @add_plants.each do |plant| %>
                    <article class = "plant-ui-card-container">
                        <input class = "plant_selected" type="hidden" name="" value="<%= plant.id%>">
                        <img class="plant_image" src="<%= plant.image_url%>" alt="">
                        <div class = "plant_info">
                            <div><%= plant.common_name.upcase %></div>
                            <div><%= plant.scientific_name %> </div>
                        </div>
                        <div><img class = "add_plants_icons" src="/icon_assets/baseline-add_circle-24px.svg" alt="" srcset=""></div>
                    </article> 
                    <% end %>

                    <div>
                        <button class = "add-plants-btn">Add Plants</button>
                    </div>
                     </form>
            </div>
        </div>
    </div>
</main>