<h1>to do</h1>
 
<p class="weather"></p>


<div class="container">
    <div class="to-do-item"><%= @dummy_data[0][:task] %> <%= @dummy_data[0][:plant_name] %></div>
    <div class="to-do-item"><%= @dummy_data[1][:task] %> <%= @dummy_data[1][:plant_name] %></div>
    <div class="to-do-item"><%= @dummy_data[2][:task] %> <%= @dummy_data[2][:plant_name] %></div>
</div>

<script> 
toDoItem = document.querySelector('.to-do-item')

click = () => {
    console.log('kahjsgdkfgd')
}

toDoItem.addEventListener('click', click)
</script>