<main class="yield-container">
    <div class="invisible-spacer">
    </div>
    <div class="weather-div">
        <h1 class="weather-text">Current Weather</h1>
        <img class="weather-icon">
    </div>

    <div class="container-for-todo">
        <div class="panel panelOne">
            <button class="accordionOne"><span>To Dos</span></button>
            <% @todos.each do |todo| %>
                <% if todo.complete == 0 %>    
                    <div class="to-do-item">
                        <h1><%= Date::MONTHNAMES[todo.task.due_date.month] %>: <%= todo.task.name %></h1>
                        <h2><%= todo.plant.common_name %></h2>
                        <p class="task_complete_button" name="todo_id" value="<%= todo.id %>">☑</p>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="panel panelTwo closed">
            <button class="accordionTwo closed"><span>Done</span></button>
            <% @todos.each do |todo| %>
                <% if todo.complete == 1 %>    
                    <div class="to-do-item">
                        <h1><%= Date::MONTHNAMES[todo.task.due_date.month] %>: <%= todo.task.name %></h1>
                        <h2><%= todo.plant.common_name %></h2>
                        <p class="task_complete_button" name="todo_id" value="<%= todo.id %>">🌳</p>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <script src="/javascripts/todo.js"></script>
</main>
